/*

sass

*/
@font-face {
  font-family: 'andadabold';
  src: url("../fonts/andada-bold.woff2") format("woff2"), url("../fonts/andada-bold.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'andadabold_italic';
  src: url("../fonts/andada-bolditalic.woff2") format("woff2"), url("../fonts/-bolditalic.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'andadaitalic';
  src: url("../fonts/andada-italic.woff2") format("woff2"), url("../fonts/andada-italic.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'andadaregular';
  src: url("../fonts/andada-regular.woff2") format("woff2"), url("../fonts/andada-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

body {
  position: relative;
  margin: 0;
  background-color: #ffe1ad;
  box-sizing: border-box;
  font-family: "andadaregular"; }

a,
a:hover,
a:visited {
  text-decoration: none; }

header {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #FFFFFF;
  z-index: 1; }

nav {
  width: 75%;
  margin: 40px auto 0;
  display: flex;
  justify-content: space-between; }
  @media screen and (max-width: 599px) {
    nav {
      flex-direction: column;
      margin: 0 auto; } }

.q {
  display: flex; }
  @media screen and (max-width: 599px) {
    .q {
      justify-content: center; } }

#btn_btn {
  position: absolute;
  top: 55px;
  left: 5%; }
  @media screen and (max-width: 599px) {
    #btn_btn {
      top: 15px; } }

#circle_btn {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #c3c4c6; }

#lt {
  position: absolute;
  top: 34%;
  left: 46%;
  transform: translate(-50%, -50%);
  color: #c3c4c6;
  font-size: 3em; }

#plus_btn {
  margin-top: 22px;
  margin-left: 15px;
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #0266b3; }

#plus {
  font-size: 1.5em;
  color: white;
  position: absolute;
  top: 40%;
  left: 49%;
  transform: translate(-50%, -50%); }

.radio {
  display: flex;
  align-items: center; }
  .radio p {
    font-family: "andadaitalic";
    margin-left: 6em; }
  @media screen and (min-width: 600px) and (max-width: 999px) {
    .radio {
      justify-content: center; }
      .radio p {
        font-size: 0.8em; }
      .radio form {
        font-size: 0.8em; } }
  @media screen and (max-width: 599px) {
    .radio {
      flex-direction: column; }
      .radio p {
        margin-left: 0; }
      .radio form {
        margin-right: 0; } }

input[type=radio] {
  margin-left: 1em; }

#recent {
  color: #a7a9ac;
  text-decoration: underline;
  font-family: "andadabold"; }

#hot {
  color: #0266b3;
  font-family: "andadabold"; }

.search {
  width: 75%;
  margin: 0 auto;
  display: flex;
  margin-bottom: 20px; }
  @media screen and (max-width: 599px) {
    .search {
      margin-bottom: -10px; } }

#search {
  background-color: #FFFFFF;
  border: 1px solid #c3c4c6;
  font-family: "andadabold";
  color: #c3c4c6;
  padding: 0.2% 6%;
  margin-left: 3%;
  margin-bottom: 20px; }

input[type=search] {
  width: 79%;
  padding: 7px 10px;
  border: 1px solid #eeeeee;
  background-color: #fbfbfb;
  margin-bottom: 20px; }
  @media screen and (max-width: 599px) {
    input[type=search] {
      width: 60%; } }

.background {
  background-color: #fbfbfb;
  margin: 181px auto 0;
  width: 95%; }
  @media screen and (max-width: 599px) {
    .background {
      width: 100%; } }

.s {
  position: relative;
  background-color: #ffffff;
  box-shadow: 2px 0 3px #C9C9C9;
  margin: 0 auto;
  width: 79%;
  height: 450px; }
  @media screen and (min-width: 600px) and (max-width: 999px) {
    .s {
      height: 380px; } }
  @media screen and (max-width: 599px) {
    .s {
      width: 100%;
      height: 340px; } }

.s2,
.s3 {
  margin-top: -15px; }

.a {
  position: relative;
  background-color: #dff3fd;
  width: 79%;
  height: 370px; }
  @media screen and (min-width: 600px) and (max-width: 999px) {
    .a {
      height: 300px;
      width: 100%; } }
  @media screen and (max-width: 599px) {
    .a {
      width: 100%; } }

article {
  position: relative; }
  article .p,
  article .p1 {
    margin-left: 130px; }
    @media screen and (max-width: 599px) {
      article .p,
      article .p1 {
        margin-left: 100px; } }
  article .p {
    padding-top: 1.5%;
    margin-bottom: -10px; }
    @media screen and (max-width: 599px) {
      article .p {
        padding-top: 10px; } }
  article .p1 {
    color: #0266b3;
    font-family: "andadabold_italic";
    letter-spacing: 1px;
    font-size: 1.2em; }
  article .asked {
    color: #818b93;
    position: absolute;
    bottom: -4px;
    font-size: 0.8em;
    bottom: -10px;
    left: 7%;
    transform: translate(-50%, -50%); }
    @media screen and (min-width: 600px) and (max-width: 999px) {
      article .asked {
        left: 10%;
        transform: translate(-50%, -50%); } }
    @media screen and (max-width: 599px) {
      article .asked {
        display: none; } }
  article .asked:before {
    display: block;
    margin-left: 55%;
    margin-bottom: 5px;
    transform: translate(-50%, -50%);
    width: 190%;
    height: 1px;
    content: "";
    text-shadow: none;
    background-color: #999; }
    @media screen and (max-width: 599px) {
      article .asked:before {
        display: none; } }
  article span {
    font-size: 0.7em;
    color: #818b93;
    padding-left: 1.5%; }
  article a {
    color: #0266b3;
    font-family: "andadabold"; }

.white_square {
  box-sizing: border-box;
  border-left: 15px solid #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #ffffff;
  width: 85%;
  height: 68%; }
  @media screen and (min-width: 600px) and (max-width: 999px) {
    .white_square {
      width: 80%;
      justify-content: flex-start; } }
  @media screen and (max-width: 599px) {
    .white_square {
      width: 100%;
      justify-content: flex-start; } }

.grey_rectangle {
  position: relative;
  background-color: #eeeeee;
  width: 18%;
  height: 85%;
  text-align: center; }
  @media screen and (min-width: 600px) and (max-width: 999px) {
    .grey_rectangle {
      width: 25%;
      margin-left: 30px; } }
  @media screen and (max-width: 599px) {
    .grey_rectangle {
      margin-bottom: 50px;
      width: 29%;
      height: 79%;
      background-color: #eeeeee;
      margin-left: 4px; } }
  .grey_rectangle img {
    margin-top: 15px; }

.grey_rectangle:hover .comment {
  color: black; }

.grey_rectangle:hover .point {
  background-color: black; }

@media screen and (min-width: 600px) and (max-width: 999px) {
  .g1 {
    margin-left: -5px; } }

@media screen and (max-width: 599px) {
  .g1 {
    margin-left: -12px; } }

@media screen and (min-width: 600px) and (max-width: 999px) {
  .g2,
  .g3,
  .g4 {
    display: none; } }

@media screen and (max-width: 599px) {
  .g2,
  .g3,
  .g4 {
    display: none; } }

.empty {
  position: relative;
  width: 18%;
  height: 85%;
  text-align: center; }
  .empty a {
    position: absolute;
    top: 35px;
    color: #000000;
    font-size: 1.3em; }
  .empty p {
    position: absolute;
    bottom: 0;
    font-family: "andadaitalic";
    font-size: 1.1em; }
  @media screen and (min-width: 600px) and (max-width: 999px) {
    .empty {
      width: 20%; } }
  @media screen and (max-width: 599px) {
    .empty {
      margin-bottom: 50px;
      width: 29%;
      height: 79%;
      background-color: #eeeeee;
      margin-left: -12px; } }

.comment {
  letter-spacing: 0.5px;
  padding-top: 65px;
  font-size: 0.8em;
  color: #818b93;
  text-transform: uppercase; }
  @media screen and (max-width: 599px) {
    .comment {
      padding-top: 60px; } }

hr {
  width: 75%;
  margin-top: 85px;
  margin-bottom: -72px; }
  hr:hover {
    background-color: #000000; }
  @media screen and (min-width: 600px) and (max-width: 999px) {
    hr {
      margin-top: 46px; } }

.point {
  position: absolute;
  background-color: #818b93;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  left: 49%;
  bottom: -7%;
  transform: translate(-50%, -50%); }
  @media screen and (max-width: 599px) {
    .point {
      width: 12px;
      height: 12px;
      left: 49%;
      bottom: -6%;
      transform: translate(-50%, -50%); } }

.avatar {
  position: absolute;
  top: 6%;
  left: 3%; }

img {
  width: 70px;
  height: auto;
  border-radius: 50%; }

img:hover {
  cursor: pointer; }

aside {
  position: absolute;
  right: 3%;
  bottom: 58px; }
  @media screen and (min-width: 600px) and (max-width: 999px) {
    aside {
      bottom: 70px;
      right: 25px; } }
  @media screen and (max-width: 599px) {
    aside {
      bottom: 30px;
      right: 5%; } }
  aside p {
    font-family: "andadaitalic";
    line-height: 70px; }
    @media screen and (min-width: 600px) and (max-width: 999px) {
      aside p {
        line-height: 50px; } }
    @media screen and (max-width: 599px) {
      aside p {
        line-height: 40px;
        font-size: 0.8em; } }
  aside a {
    font-family: "andadabold";
    font-size: 1.3em;
    padding-right: 1%;
    color: #000000; }
    @media screen and (max-width: 599px) {
      aside a {
        font-size: 1.2em; } }

footer {
  height: 90px;
  background-color: #ffffff;
  box-shadow: 2px 0 3px #C9C9C9;
  margin: 0 auto;
  width: 79%;
  position: relative;
  margin-bottom: 60px;
  border-top: 1px solid #E0E0E0; }
  @media screen and (max-width: 599px) {
    footer {
      width: 100%;
      margin-bottom: 0; } }

.more {
  color: #dc173f;
  font-family: "andadabold";
  position: absolute;
  top: 34px;
  left: 4%; }

li {
  list-style-type: none; }

.hidden {
  display: none; }

.modal {
  font-family: "andadaregular";
  position: fixed;
  z-index: 10000000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4); }

.modal-content {
  overflow: scroll;
  width: 70%;
  height: 98%;
  background-color: #ffffff;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  @media screen and (min-width: 600px) and (max-width: 999px) {
    .modal-content {
      width: 100%; } }
  @media screen and (max-width: 599px) {
    .modal-content {
      width: 100%;
      height: 99.9%; } }
  .modal-content .end {
    display: block;
    color: #818b93;
    margin-left: 98%;
    font-size: 1em; }
  .modal-content h2 {
    color: #818b93;
    font-size: 1em;
    letter-spacing: 0.1em; }

.modal-header {
  text-align: center;
  border-bottom: 1px solid #818b93;
  width: 70%;
  margin: 40px auto; }
  @media screen and (min-width: 600px) and (max-width: 999px) {
    .modal-header {
      width: 85%; } }
  @media screen and (max-width: 599px) {
    .modal-header {
      width: 90%; } }
  .modal-header h2 {
    color: #0266b3; }
  .modal-header .modal-nav {
    width: 100%;
    font-size: 0.9em; }
  .modal-header ul {
    display: flex; }
    @media screen and (max-width: 599px) {
      .modal-header ul {
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        margin: 0;
        padding: 0; } }
  .modal-header li {
    font-family: "andadabold";
    display: flex;
    flex: 1 1 auto; }
    @media screen and (max-width: 599px) {
      .modal-header li {
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        margin: 10px 0; } }
    .modal-header li img {
      width: 19px;
      height: 25px; }
    .modal-header li ul {
      padding: 0; }
      @media screen and (max-width: 599px) {
        .modal-header li ul {
          flex-direction: row; } }
  .modal-header span {
    font-family: "andadaregular";
    display: flex;
    margin-right: 4%;
    color: #818b93; }

.modalpic {
  width: 90px; }

.slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  margin: 0 auto; }
  @media screen and (max-width: 599px) {
    .slider {
      width: 86%; } }
  .slider h1 {
    font-size: 2.5em;
    font-family: "andadaitalic"; }
    @media screen and (max-width: 599px) {
      .slider h1 {
        font-size: 1.5em; } }

.arrow {
  position: relative;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #0266b3; }

.lt {
  position: absolute;
  top: 35%;
  left: 48%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-size: 1.8em; }
  @media screen and (max-width: 599px) {
    .lt {
      top: 40%;
      left: 45%; } }

.where {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  margin: 0 auto; }
  @media screen and (max-width: 599px) {
    .where {
      text-align: center; } }
  .where ul {
    display: flex; }
    @media screen and (max-width: 599px) {
      .where ul {
        flex-wrap: wrap;
        width: 250px; } }
    .where ul li {
      margin: 40px 25px 0 0;
      width: 100px;
      height: 100px;
      background-color: #e5f5fd;
      text-align: center; }
      .where ul li p {
        font-family: "andadabold";
        font-size: 1.5em; }
        .where ul li p span {
          font-family: "andadaitalic";
          font-size: 0.7em;
          display: block;
          margin-top: 10px; }
      @media screen and (max-width: 599px) {
        .where ul li {
          margin: 0; } }
    .where ul li:first-of-type,
    .where ul li:nth-of-type(3) {
      transform: rotate(50deg); }
      .where ul li:first-of-type p,
      .where ul li:nth-of-type(3) p {
        transform: rotate(-50deg); }
    .where ul li:nth-of-type(2) {
      transform: rotate(95deg); }
      .where ul li:nth-of-type(2) p {
        transform: rotate(-95deg); }
    .where ul li:nth-of-type(4) {
      transform: rotate(10deg); }
      .where ul li:nth-of-type(4) p {
        transform: rotate(-10deg); }

.who {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px auto;
  text-align: center; }
  @media screen and (max-width: 599px) {
    .who {
      width: 100%; } }
  .who ul {
    display: flex; }
  .who li {
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 10px; }
  .who img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .who div {
    position: relative;
    width: 100px;
    height: 100px;
    background-image: linear-gradient(45deg, transparent 15%, rgba(0, 0, 0, 0.1) 15%, rgba(0, 0, 0, 0.1) 50%, transparent 50%, transparent 65%, rgba(0, 0, 0, 0.1) 69%);
    background-size: 6px 6px; }
  .who p {
    width: 100px;
    color: #0266b3;
    font-family: "andadabold";
    font-size: 1em; }

.discussion {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  text-align: center; }
  @media screen and (max-width: 599px) {
    .discussion {
      width: 100%; } }

.modal-footer {
  margin-top: 40px;
  width: 100%;
  height: auto;
  background-image: linear-gradient(45deg, transparent 15%, rgba(0, 0, 0, 0.1) 15%, rgba(0, 0, 0, 0.1) 50%, transparent 50%, transparent 65%, rgba(0, 0, 0, 0.1) 69%);
  background-size: 6px 6px;
  position: relative;
  text-align: center; }
  .modal-footer img {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%); }
  .modal-footer h3 {
    margin-top: 50px;
    color: #0266b3; }
    .modal-footer h3 span {
      color: #818b93;
      font-size: 0.7em;
      margin-left: 10px; }
  .modal-footer h2 {
    margin-top: -15px;
    color: #0266b3;
    font-family: "andadaitalic";
    font-size: 1.5em;
    letter-spacing: normal; }
  .modal-footer ul {
    display: flex;
    justify-content: space-around;
    padding-bottom: 30px; }
    @media screen and (max-width: 599px) {
      .modal-footer ul {
        flex-flow: wrap; } }
    .modal-footer ul li {
      font-family: "andadabold"; }
      .modal-footer ul li span {
        font-family: "andadaitalic";
        margin-left: 5px; }
